-fxNames = ['fadeIn','fadeInDown','fadeInLeft','fadeInRight','fadeInUp']
-fxNames.push('bounceIn','bounceInDown','bounceInLeft','bounceInRight','bounceInUp')
-fxNames.push('rotateIn','rotateInDownLeft','rotateInDownRight','rotateInUpLeft','rotateInUpRight')
-fxNames.push('slideInUp','slideInDown','slideInLeft','slideInRight')
-fxNames.push('zoomIn','zoomInDown','zoomInLeft','zoomInRight','zoomInUp')

-routeAttrs = {};
each fx in fxNames
  -routeAttrs["[@"+fx+"Kids]"] = "{value:FxSession.fxForward=='"+fx+"' ? fxId : 'nofx', params:{time:fxTime, position:'fixed'}}"

table.container(
  cellPadding = "0"
  cellSpacing = "0"
  border      = "0"
  style       = "width:100%;height:100%;max-width:900px;background-color:white;"
  align       = "center"
)
  tr
    td
      div(style="padding:1em;text-align:left")
        h1 ack-angular-fx {{ version }}
        p Angular animations made super easy
        div(style="text-align:center")
          ng-container(*ngFor="let item of routes")
            div(style="display:inline-block;padding:.4em;")
              a(
                [routerLink] = "'/'+item"
                "[style.color]" = "tracker.value==item ? '#88aaff' : '#999'"
              ) {{ item }}
          div(style="display:inline-block;padding:.4em;")
            select-fx("[(model)]"="FxSession.fxForward")
        div(style="border-bottom:1px dotted #CCCCCC;")
  tr
    td(style="height:100%;text-align:left")
      fx-tracker(
        #tracker      = "fxTracker"
        "[value]"     = "o.activated ? o.activatedRoute.url.value[0].path : null"
        "[(fxId)]"    = "fxId"
        "[(orderArray)]" = "routes"
        "[(index)]"   = "fxHistoryIndex"
        "[(history)]" = "fxHistory"
      )

      div(style="position:relative;overflow:hidden;height:100%")
        div(
          style = "padding:1em;height:100%;"
          "[@absoluteKids]"  = "{value:fxId, params:{time:fxTime, position:'absolute'}}"
        )&attributes(routeAttrs)
          router-outlet(#o="outlet")