.container
  h1 ack-angular-fx {{ version }}
  p Angular animations made easier

  fx-tracker("[value]"="test" "[(fxId)]"="fxId")

  h3("(click)"="test=!test") test - {{ test }} - {{ fxId }}
  div("[@absoluteOut]"="{value:test, params:{timing:'3000'}}")
    div("[@fadeInUp]"="{value:test, params:{timing:'3000'}}")
      div(*ngIf="test=='a' || test=='b'")
        |Yes
        br
        |Yes
      div(*ngIf="test=='c' || test=='d'")
        |No
        br
        |No
        br
        |No
        br
        |No

  //-
    h3("(click)"="test=!test") test2 - {{ test }} - {{ fxId }}
    div("[@absoluteOut]"="fxId")
      div("[@fadeIn]"="fxId")
        div(*ngIf="test")
          |Yes
          br
          |Yes
        div(*ngIf="!test")
          |No
          br
          |No
          br
          |No
          br
          |No

  h3("(click)"="test='a'") testa - {{ test }} - {{ fxId }}
  h3("(click)"="test='b'") testb - {{ test }} - {{ fxId }}
  h3("(click)"="test='c'") testc - {{ test }} - {{ fxId }}
  h3("(click)"="test='d'") testd - {{ test }} - {{ fxId }}

  div("[@absoluteInOut]"="{value:fxId, params:{timing:'2000ms'}}")
    div("[@fadeInRight]"="{value:fxId, params:{timing:'2000ms'}}")
      div(*ngIf="test=='a'")
        |a
        br
        |a
        br
        |a
        br
        |a
      div(*ngIf="test=='b'")
        |b
        br
        |b
        br
        |b
        br
        |b
      div(*ngIf="test=='c'")
        |c
        br
        |c
        br
        |c
        br
        |c
      div(*ngIf="test=='d'")
        |d
        br
        |d
        br
        |d
        br
        |d

  div(style="display:flex;flex-wrap:wrap;align-items: center")
    h2 ngIf Toggling
    div(style="text-align:right;padding:1em;font-size:0.75em;line-height:0;")
      a("(click)"="toggleAllShorts()") toggle all
      select("[(ngModel)]"="panelAnimType")
        option([ngValue]="\'bounceIn\'") bounceIn
        option([ngValue]="\'slideIn\'") slideIn
        option([ngValue]="\'fadeIn\'") fadeIn
        option([ngValue]="\'rotateInDown\'") rotateInDown
        option([ngValue]="\'rotateInUp\'") rotateInUp
        option([ngValue]="\'zoomIn\'") zoomIn
  p Tap any item below or toggle all using the link above
  .wrap
    .demo-wrap("(click)"="show100=!show100")
      .demo-item(
        *ngIf    = "!show100"
        "[@100]" = "panelAnimType+\'Left\'"
      ) [@100]
    .demo-wrap("(click)"="show200=!show200")
      .demo-item(
        *ngIf    = "!show200"
        "[@200]" = "panelAnimType+\'Left\'"
      ) [@200]
    .demo-wrap("(click)"="show300=!show300")
      .demo-item(
        *ngIf    = "!show300"
        "[@300]" = "panelAnimType+\'Left\'"
      ) [@300]
    .demo-wrap("(click)"="show400=!show400")
      .demo-item(
        *ngIf    = "!show400"
        "[@400]" = "panelAnimType+\'Left\'"
      ) [@400]
    .demo-wrap("(click)"="show500=!show500")
      .demo-item(
        *ngIf    = "!show500"
        "[@500]" = "panelAnimType+\'Left\'"
      ) [@500]
    .demo-wrap("(click)"="show600=!show600")
      .demo-item(
        *ngIf    = "!show600"
        "[@600]" = "panelAnimType+\'Left\'"
      ) [@600]
    .demo-wrap("(click)"="show700=!show700")
      .demo-item(
        *ngIf    = "!show700"
        "[@700]" = "panelAnimType+\'Left\'"
      ) [@700]
    .demo-wrap("(click)"="show800=!show800")
      .demo-item(
        *ngIf    = "!show800"
        "[@800]" = "panelAnimType+\'Left\'"
      ) [@800]
    .demo-wrap("(click)"="show900=!show900")
      .demo-item(
        *ngIf    = "!show900"
        "[@900]" = "panelAnimType+\'Left\'"
      ) [@900]
    .demo-wrap("(click)"="show1000=!show1000")
      .demo-item(
        *ngIf     = "!show1000"
        "[@1000]" = "panelAnimType+\'Left\'"
      ) [@1000]
    .demo-wrap("(click)"="show1500=!show1500")
      .demo-item(
        *ngIf     = "!show1500"
        "[@1500]" = "panelAnimType+\'Left\'"
      ) [@1500]
    .demo-wrap("(click)"="show2000=!show2000")
      .demo-item(
        *ngIf     = "!show2000"
        "[@2000]" = "panelAnimType+\'Left\'"
      ) [@2000]

  br

  div(style="display:flex;flex-wrap:wrap;align-items: center")
    h2 All Supported Animations
    div(style="text-align:right;padding:1em;font-size:0.75em;line-height:0;")
      a("(click)"="onToggleInAll()") toggle all
  .wrap([@childStag]="fxCount")
    .demo-wrap(*ngFor="let item of inAnimations" "(click)"="item.show = !item.show")
      .demo-item.childFx(*ngIf="item.show" "[@500]"="item.key" "[ngStyle]"="{\'background-color\': \'#\' + item.bg}")
        |{{item.key}}
  br
  
  h2 Staggering Examples
  div(style="padding-left:20px;")
    div(style="display:flex;flex-wrap:wrap;align-items: center")
      h3 Stagger Fixed Items Example
      div(style="text-align:right;padding:1em;font-size:0.75em;line-height:0;")
        a("(click)"="fixedStaggers=!fixedStaggers") toggle all
      div([@childStag]="fixedStaggers")
        .wrap
          .demo-wrap(
            *ngFor    = "let x of [1,2,3,4,5,6,7,8]"
            "(click)" = "fixedStaggers=!fixedStaggers"
          )
            .demo-item.childFx(
              *ngIf    = "!fixedStaggers"
              "[@500]" = "panelAnimType+\'Left\'"
            ) {{ x }}
            div(style="display:flex;flex-wrap:wrap;align-items: center")

      h3 Stagger Table Rows Example
      div(style="text-align:right;padding:1em;font-size:0.75em;line-height:0;")
        a("(click)"="rowStaggers=!rowStaggers") toggle all
      div([@childStag]="rowStaggers")
        table(style="width:100%")
          ng-container(*ngFor="let x of [1,2,3,4,5,6,7,8]")
            tr.childFx(
              *ngIf     = "!rowStaggers"
              "(click)" = "rowStaggers=!rowStaggers"
              "[@500]"  = "panelAnimType+\'Left\'"
              style     = "background-color:#CCC"
            )
              td {{ x }}
              td Item Col {{ x }}
  br
  div(style="display:flex;flex-wrap:wrap;align-items: center")
    h2 Swap Animation
    div(style="text-align:right;padding:1em;font-size:0.75em;line-height:0;")
      button("(click)"="priorPanel()") &nbsp;&nbsp;&nbsp;&laquo;&nbsp;&nbsp;&nbsp;
      |&nbsp;
      button("(click)"="nextPanel()") &nbsp;&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;
      select("[(ngModel)]"="panelAnimType")
        option([ngValue]="\'bounceIn\'") bounceIn
        option([ngValue]="\'slideIn\'") slideIn
        option([ngValue]="\'fadeIn\'") fadeIn
        option([ngValue]="\'rotateInDown\'") rotateInDown
        option([ngValue]="\'rotateInUp\'") rotateInUp
        option([ngValue]="\'zoomIn\'") zoomIn

  div(style="position:relative;min-height:175px;background-color:#CCC;padding:1em;color:white;overflow:hidden;")
    div(
      *ngIf             = "!swapShow"
      "(click)"         = "swapShow=1"
      "[@absoluteSwap]" = "panelAnimation"
    ) [@absoluteSwap]
      p Step 1
      div Create a master container with style="position:relative"
      p(style="font-size:0.75em;") TIP : If its not the last element on the page, you may need a min-height style treatment to avoid bounding sibling elements.
    div(
      *ngIf             = "swapShow==1"
      "(click)"         = "swapShow=2"
      "[@absoluteSwap]" = "panelAnimation"
    )
      |[@absoluteSwap] 1
      p Step 2
      div Create several children with attributes *ngIf="" and [@absoluteSwap]="panelAnimation"
    div(
      *ngIf             = "swapShow==2"
      "(click)"         = "swapShow=3"
      "[@absoluteSwap]" = "panelAnimation"
    )
      |[@absoluteSwap] 2
      p Step 3
      div Enjoy You Sliding Panels
    div(
      *ngIf             = "swapShow==3"
      "(click)"         = "swapShow=0"
      "[@absoluteSwap]" = "panelAnimation"
    )
      |[@absoluteSwap] 3
      p Absolute Note
      div Elements in swap animation are absolutely positioned during animation and this may require additional consideration before using.
  br
  div(style="text-align:center;")
    p
      a(href="https://github.com/ackerapple/ack-angular-fx") View on GitHub