-speeds = [100,200,300,400,500,600,700,800,900,1000,1500,2000]

h1 Deprecated
p Code below was used before Angular 5.2.0
p Animations below are NOT encouraged to be used

br

h2 *ngIf Toggling
p Tap any item below or toggle all using the link below
div(style="text-align:center;padding:1em;font-size:0.75em;line-height:0;")
  a(
    "(click)" = "toggleAllShorts()"
    style     = "cursor:pointer"
  ) toggle all
.wrap
  each speed in speeds
    .demo-wrap("(click)"="show"+speed+"=!show"+speed)
      -attrs = { "*ngIf":"!show"+speed };
      -attrs.style = "text-align:center;"
      -attrs["[@"+speed+"]"] = "FxSession.fxForward"
      .demo-item&attributes(attrs)
        |[@#{speed}]=
        br
        |{{FxSession.fxForward}}
div(style="background-color:#CCC;padding:.5em;text-align:center")
  |Change above boxes fx Type:&nbsp;
  select-fx("[(model)]"="FxSession.fxForward")

br

div(style="display:flex;flex-wrap:wrap;align-items: center")
  h2 Swap Animation
  div(style="text-align:right;padding:1em;font-size:0.75em;line-height:0;")
    button("(click)"="priorPanel()") &nbsp;&nbsp;&nbsp;&laquo;&nbsp;&nbsp;&nbsp;
    |&nbsp;
    button("(click)"="nextPanel()") &nbsp;&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;
    select-fx("[(model)]"="FxSession.fxForward")
    select-fx("[(model)]"="FxSession.fxBackward")

//-div(style="position:relative;min-height:175px;background-color:#CCC;padding:1em;color:white;overflow:hidden;")
  fadeIn

div(style="position:relative;min-height:175px;background-color:#CCC;padding:1em;color:white;overflow:hidden;")
  div(
    *ngIf             = "!swapShow"
    "(click)"         = "swapShow=1"
    "[@absoluteSwap]" = "panelAnimation"
  ) [@absoluteSwap]
    p Step 1
    div Create a master container with style="position:relative"
    p(style="font-size:0.75em;") TIP : If its not the last element on the page, you may need a min-height style treatment to avoid bounding sibling elements.

  div(
    *ngIf             = "swapShow==1"
    "(click)"         = "swapShow=2"
    "[@absoluteSwap]" = "panelAnimation"
  )
    |[@absoluteSwap] 1
    p Step 2
    div Create several children with attributes *ngIf="" and [@absoluteSwap]="panelAnimation"
  div(
    *ngIf             = "swapShow==2"
    "(click)"         = "swapShow=3"
    "[@absoluteSwap]" = "panelAnimation"
  )
    |[@absoluteSwap] 2
    p Step 3
    div Enjoy You Sliding Panels
  div(
    *ngIf             = "swapShow==3"
    "(click)"         = "swapShow=0"
    "[@absoluteSwap]" = "panelAnimation"
  )
    |[@absoluteSwap] 3
    p Absolute Note
    div Elements in swap animation are absolutely positioned during animation and this may require additional consideration before using.
br
div(style="text-align:center;")
  p
    a(href="https://github.com/ackerapple/ack-angular-fx") View on GitHub