-fxWithKids = ["fadeInOut","fadeInOutDown","fadeInOutLeft","fadeInOutRight","fadeInOutUp"];
-fxWithKids.push("bounceInOut","bounceInOutLeft","bounceInOutRight","bounceInOutUp");
-fxWithKids.push("rotateInOut","rotateInOutDownLeft","rotateInOutDownRight","rotateInOutUpLeft","rotateInOutUpRight");
-fxWithKids.push("slideInOutUp","slideInOutDown","slideInOutLeft","slideInOutRight");
-fxWithKids.push("zoomInOut","zoomInOutDown","zoomInOutLeft","zoomInOutRight","zoomInOutUp");

-routeAttrs = {};
each fx in fxWithKids
  -routeAttrs["[@"+fx+"Kids]"] = "{value:FxSession.fxForward=='"+fx+"' ? fx.id : 'nofx', params:{time:fxTime}}";

table.container(
  cellPadding = "0"
  cellSpacing = "0"
  border      = "0"
  style       = "width:100%;height:100%;max-width:900px;background-color:white;"
  align       = "center"
)
  tr
    td
      div(style="padding:1em;text-align:left")
        h1 ack-angular-fx {{ version }}
        p Angular animations made super easy
        div(style="text-align:center")
          ng-container(*ngFor="let item of routes")
            div(style="display:inline-block;padding:.4em;")
              a(
                [routerLink] = "'/'+item"
                "[ngStyle]" = "fx.value==item ? {color:'#88aaff','font-weight':'900'} : {color:'#999'}"
              ) {{ item }}
          div(style="display:inline-block;padding:.4em;")
            select-fx("[(model)]"="FxSession.fxForward")
        div(style="border-bottom:1px dotted #CCCCCC;")
  tr
    td(style="height:100%;text-align:left")
      fx-tracker(
        #fx = "FxTracker"
        "[(orderArray)]" = "routes"
        "[activatedRoute]" = "ActivatedRoute"
      )
      div(
        style="height:100%;width:100%;"
        "[ngStyle]" = "inFx && {position:'relative',overflow:'hidden'}"
      )
        div(
          style = "padding:1em;height:100%;"
          "[@absoluteKids]"  = "{value:fx.id, params:{time:fxTime, position:'absolute'}}"
          "(@absoluteKids.start)" = "inFx=true"
          "(@absoluteKids.done)"  = "inFx=false"
        )&attributes(routeAttrs)
          router-outlet(#routerOutlet="outlet")